// Base
@import "./base/vars";
@import "./base/reset";
@import "./base/base";


// Blocks
@import "./blocks/nav-icon";
@import "./blocks/link";
@import "./blocks/social";
@import "./blocks/title";
@import "./blocks/nav";
@import "./blocks/card";
@import "./blocks/hw";
@import "./blocks/contact";

@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/footer";