.card {
    max-width: 540px;
    transition: transform 0.3s, opacity 0.5s;
    
    img {
        width: 350px;
        height: 220px;
        object-fit: contain;
        margin-bottom: 16px;
    }

    &__text {
        margin-top: 6px;
    }

    &__text p {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s, opacity 0.5s;
        opacity: 0.8;
    }
}

.card:nth-child(-n+2) {

    img {
        width: 540px;
        height: 370px;
        object-fit: contain;
    }

    .card__text {
        margin-top: 8px;
    }

    .card__text p{
        font-size: 20px;
    }
    
}

@media (max-width: 1439px) {
    .card   {
        max-width: 420px;

        img {
            width: 270px;
            height: 169px;
            margin-bottom: 10px;
        }

        &__text {
            margin-top: 4px;
        }

        &__text p {
            font-size: 14px;
        }

        &:nth-child(-n+2)   {
            .card__text {
                margin-top: 6px;
            }

            & img {
                width: 420px;
                margin-bottom: 20px;
                height: 290px;
            }

            .card__text p{
                font-size: 16px;
            }
        }

    }
}
@media (max-width: 899px) {
    .card   {
        img {
            width: 226px;
            height: 140px;
        }

        &__text {
            width: 226px;
        }


        &:nth-child(-n+2)   {
            .card__text {
                margin-top: 4px;
                width: 354px;
            }

            & img {
                width: 354px;
                height: 180px;
                margin-bottom: 10px;
                object-fit: fill;
            }

            .card__text p{
                font-size: 14px;
            }
        }

    }
}
@media (max-width: 767px) {
    .card   {
        max-width: 290px;
        img {
            width: 290px;
            height: 180px;
        }

        &__text {
            margin-top: 6px;
            width: 226px;
        }
        &:nth-child(-n+2)   {
            .card__text {
                margin-top: 4px;
                width: 226px;
            }
        }

    }
}