.footer {
    padding-top: 40px;
    padding-bottom: 50px;

    background-color: #333333;

    & p {
        display: block;
        
        line-height: 1.5;
        color: #FFFFFF;
    }
    
    & p:not(:first-child) {
        color: #B0B0B0;
    }
    
    & p a {
        font-size: 16px;
        text-decoration: underline;
        color: #FFFFFF;
    }

    & p:first-child  {
        margin-bottom: 10px;
    }
}

@media (max-width: 1439px)  {
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;

        & p {
            font-size: 16px;
        }

        & p:not(:first-child) {
            font-size: 14px;
        }
    }
}
@media (max-width: 899px)  {
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;

        & p:not(:first-child)  {
            line-height: 1.4;
            margin-top: 10px;
        }
    }
}
@media (max-width: 767px)  {
    
}