.header {
    padding-top: 82px;
    padding-bottom: 80px;
    
    &-top {
        padding-top: 60px;
        z-index: 5;

        @media (max-width: 899px){
            padding-top: 30px;
        }
        
    }

    &__center {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    &__about-me {
        width: 540px;
        
        z-index: 1;

        & p {
            margin-top: 30px;
            margin-bottom: 30px;
        
            font-weight: 400;
            font-size: 22px;
            line-height: 1.6;
        }
    }

    &-buttons {
        margin-top: 30px;
        display: flex;
        justify-content: space space-between; 
    }
    
    &__title-first {
        margin-bottom: 30px;
    }
    
    &__img-me {
        height: 410px;
        box-shadow: 40px 40px 10px  rgba(255, 255, 255, 0.5);
        z-index: 1;

        & img {
            width: 475px;
            object-fit: cover;
        }
        
    }

    &__img-me p {
        display: none;
    }
    
    &__desktop img {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -155px;
    
        z-index: -1;
    }
    
    &__row {
        margin-top: -32px;
        display: flex;
    }
    
    &__title-third {
        margin-bottom: 30px;
    }
    
    &__list-skills li {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.3;
    }

    &__list-skills li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    &__list-skills li::before {
        content: "\2014";
        margin-right: 8px;
    }
    
    &__in-touch {
        margin-left: 80px;
    }
}

@media (max-width: 1439px){
    .container {
        width: 900px;
    }
    .header {
        padding-top: 60px;
        padding-bottom: 60px;

        &__center {
            align-items: center;
        }
        
        &__about-me {
            width: 420px;
            
            & p{
                font-size: 18px;
            }
        }

        &__title-first {
            margin-bottom: 20px;
        }
        
        &__img-me {
            height: 376px;
            box-shadow: none;
            
            & img {
                width: 376px;
            }
        }
        
        &__title-third {
            margin-bottom: 20px;
        }
        
        &__list-skills li {
            font-size: 18px;
        }
        &__desktop img {
            max-width: 900px;
            margin-top: -130px;
        }
    }
    
}
@media (max-width: 899px){
    .container {
        width: 768px;
    }
    .header {
        padding-top: 30px;
        padding-bottom: 40px;

        &__about-me {
            width: 354px;
            
            & p{
                font-size: 16px;
            }
        }
        
        &__img-me {
            height: 290px;
            
            & img {
                width: 290px;
            }
        }

        &__title-first {
            width: 290px;
            margin-bottom: 10px;
        }

        &__list-skills li {
            font-size: 16px;
        }

        &__desktop img {
            max-width: 768px;
            margin-top: -110px;
        }

        &__list-skills li::before {
            display: none;
        }
    }  
}
@media (max-width: 767px){

    .container {
        width: 320px;
    }

    .header {

        &__about-me {
            width: 290px;
        }

        &__center {
            display: block;
        }

        &__title-first {
            width: 224px;
            margin-bottom: 20px;
        }

        .header__img-me img {
            margin-bottom: 10px;
        }

        &__img-me p {
            display: block;
            width: 300px;
        }

        &__about-me p {
            display: none;
        }

        &__desktop img {
            max-width: 320px;
            margin-top: 75px;
        }

        &__row {
            margin-top: 10px;
            display: block;
        }

        &__in-touch {
            margin-top: 30px;
            margin-left: 0;
        }

        &__skills    {
            width: 320px;
        }
    }
}
