.button {
    padding: 19px 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    
    border-radius: 50px;
    transition: transform 0.3s;
        

    &--yellow {
        margin-right: 20px;

        background-color: #FBDC4D;
        @media (max-width: 899px){
            display: none;
        }
    }
    
    &--grey {
        background-color: #EFF7FC;
        @media (max-width: 899px){
            display: none;
        }
    }

    &:hover {
        transform: scale(1.1);
        transition: transform 0.4s;
    }
}

.link {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;

    color: #1A71D2;
    
    &:visited {
        color: #1A71D2;
    }

    @media (max-width: 1439px){
        font-size: 18px;
    }
        
}

