.footer {
    padding-top: 40px;
    padding-bottom: 50px;

    background-color: #333333;

    & p {
        display: block;
        
        line-height: 1.5;
        color: #FFFFFF;
    }
    
    & p:not(:first-child) {
        color: #B0B0B0;
    }
    
    & p a {
        font-size: 16px;
        text-decoration: underline;
        color: #FFFFFF;
    }
}