.header {
    padding-bottom: 80px;
    
    &-top {
        padding-top: 60px;
        
    }

    &__center {
        margin-top: 82px;
    
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    &__about-me {
        max-width: 542px;
        
        z-index: 1;

        & p {
            margin-top: 30px;
            margin-bottom: 30px;
        
            font-weight: 400;
            font-size: 22px;
            line-height: 160%;
        }
    }

    &-buttons {
        margin-top: 30px;
        display: flex;
        justify-content: space space-between; 
    }
    
    &__title-first {
        margin-bottom: 30px;
    }
    
    &__img-me {
        height: 410px;
        box-shadow: 40px 40px 10px  rgba(255, 255, 255, 0.5);
        z-index: 1;

        & img {
            width: 475px;
            object-fit: cover;
        }
        
    }
    
    &__desktop img {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -155px;
    
        z-index: -1;
    }
    
    &__row {
        margin-top: -32px;
        display: flex;
    }
    
    &__title-third {
        margin-bottom: 30px;
    }
    
    &__list-skills li {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.3;
    }

    &__list-skills li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    &__list-skills li::before {
        content: "\2014";
        margin-right: 8px;
    }
    
    &__in-touch {
        margin-left: 80px;
    }
}

