.header {
    margin-top: 60px;
}

.header__center {
    margin-top: 82px;

    display: flex;
    justify-content: space-between;
}

.header__about-me {
    max-width: 542px;
    margin-top: 19px;
    
    z-index: 1;
}

.title-1 {
	display: inline;
    font-weight: 700;
    font-size: 78px;
    line-height: 1.0;
}

.title-1--gradient {
    background-repeat: no-repeat;
	background-position: center bottom 8px;
	background-size: 100% 12px;
	background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
}

.header__about-me p {
    margin-top: 30px;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
}

.header__button {
    display: flex;
    justify-content: space space-between;
}

.header__meet {
    padding: 19px 40px;
    margin-right: 20px;

    border-radius: 50px;
    background-color: #FBDC4D;
}

.header__contact {
    padding: 19px 40px;
    border-radius: 50px;
    background-color: #EFF7FC;
}

.header__img-computer {
    z-index: 1;
}

.header__desktop img {
    width: 100%;
    margin-top: -155px;

    z-index: -1;
}
