.hw {
    padding-top: 70px;
    padding-bottom: 90px;

    @media(max-width: 1439px) {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    @media(max-width: 899px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    &__work-header {
        text-align: center;
        margin-bottom: 75px;
    }
    
    &__timeline {
        max-width: 901px;
        margin-left: auto;
        margin-right: auto;

        &__title {
            margin-bottom: 7px;

            @media(max-width: 767px) {
                margin-bottom: 7px;
            }
        }

        &--item {
            position: relative;
            width: 50%;
            padding-right: 51px;
            padding-bottom: 67px;
            
            min-height: 168px;
            text-align: right;

            @media(max-width: 899px) {
                padding-right: 0;
                padding-left: 36px;
                padding-bottom: 45px;
                text-align: left;
            }
            @media(max-width: 767px) {
                width: 290px;
                padding-bottom: 43px;
                padding-left: 44px;
            }

            padding-bottom: 67px;

            & p {
                font-weight: 400;
                line-height: 1.4;
                @media(max-width: 1439px) {
                    font-size: 14px;
                }
                @media(max-width: 899px) {
                    font-size: 16px;
                }
                @media(max-width: 767px) {
                    font-size: 14px;
                }
            }

            & span {
                display: block;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.3;
                @media(max-width: 1439px) {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }

            &:last-child {
                padding-bottom: 0;
            }
            
            
            /*Круг*/
            &:before{
                content: " ";
                width: 34px;
                height: 34px;
                border: 4px solid #E1EEF4;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: -17px;

                @media(max-width: 899px) {
                    right: auto;
                    left: 0;
                }
            }

            &:nth-child(2n) {
                margin-left: auto;
                padding-left: 44px;

                text-align: left;

                @media(max-width: 899px) {
                    margin-left: 0;
                }
            }

            &:nth-child(2n):before {
                right: auto;
                left: -17px;

                @media(max-width: 899px) {
                    left: 0;
                }
            }

            /*Полоска*/
            &:after{
                content: " ";
                width: 4px;
                position: absolute;
                top: 34px;
                right: -2px;
                bottom: 0;
                background-color: #E1EEF4;

                @media(max-width: 899px) {
                    right: auto;
                    left: 18px;
                }
            }

            &:nth-child(2n) {
                margin-left: auto;

                @media(max-width: 899px) {
                    margin-left: 0;
                }
            }

            &:nth-child(2n):after {
                right: auto;
                left: -2px;

                @media(max-width: 899px) {
                    left: 18px;
                }
            }

            &:last-child:after {
                display: none;
            }
        }
        
    }
}

