.main {
    &__portfolio {
        padding-top: 80px;
        padding-bottom: 90px;
        background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
    }

    &__portfolio-header {
        margin-bottom: 65px;
    }

    &__section-sites {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 50px;
    }
    
    &__card-first-row {
        margin-top: 65px;
    
        display: flex;
        justify-content: space-between;
    }
    
    &__card-second-row {
        margin-top: 50px;
    
        display: flex;
        justify-content: space-between;
    }
    
    &__card-link {
        text-decoration: none;
        transition: 0.6s;
    }
}


@media (max-width: 1439px) {
    .main   {
        &__portfolio {
            padding-top: 40px;
            padding-bottom: 60px;
        }

        &__portfolio-header {
            margin-bottom: 40px;
        }

        &__section-sites {
            row-gap: 40px;
        }
    }
}
@media (max-width: 899px) {
    .main   {
        &__portfolio {
            padding-top: 30px;
            padding-bottom: 40px;
        }

        &__portfolio-header {
            margin-bottom: 30px;
        }

        &__section-sites {
            row-gap: 20px;
        }
    }
}
@media (max-width: 767px) {
    .main   {
        &__section-sites {
            row-gap: 30px;
        }
    }
}