.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__mini {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: none;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
    }

    &__mobile {
        display: none;
    }

    &__mobile-small {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
    }
    
    &__item {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.3;
    
        color: $black-color;
    }
    
    &__item:not(:last-child){
        margin-right: 100px;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(37, 73, 116, 0.8);
}

#overlay.active{display: block;}

//Tablet Big
@media (max-width: 1439px){

    .container {
        width: 900px;
    }

    .nav {
        margin-right: auto;
        margin-left: auto;
    }

    .nav__item:not(:last-child) {
        margin-right: 50px;
    }
}

//Tablet Small
@media (max-width: 899px){
    
    .nav {
        display: none;

        &__logo {
            display: block;
        }

        &__mobile {
            padding: 30px 15px 40px;
            display: block;
            position: fixed;
            top: 0;
            right: -100%;
            width: 250px;
            height: 100%;
            margin-left: auto;

            .nav__connection a{
                font-size: 18px;
            }
        }
    
        &__mobile-item a {
            font-weight: 600;
            font-size: 18px;
            line-height: 1.3;
            color: $black-color;
            
        }
        
        &__mobile-item:not(:first-child) {
            margin-top: 28px;
        }

        &__connection   {
            margin-left: 15px;
        }
    }

    
    .nav__mobile.nav__mobile--active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 320px;
        right: 0;
        opacity: 1;
        transition: right .3s linear, opacity .2s ease-in;
        background-color: #ffffff;
    }
    
}

//Mobile
@media (max-width: 767px){
    .nav__mobile.nav__mobile--active {
        width: 100%;
    }
}
