.social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        max-width: 42px;
        max-height: 42px;
        display: block;
    }

    & a:first-child {
        margin-right: 26px;
    }
}

.connection {
    margin-bottom: 20px;
    display: flex;

    & li {
        display: block;
        width: 48px;
        height: 48px;
    }
    

    & li:not(last-child) {
        margin-right: 30px;
    }
}