.title {
    &-1 {
        font-weight: 700;
        font-size: 78px;
        line-height: 1.0;
    }
    
    &--gradient {
        background-repeat: no-repeat;
        background-position: center bottom 12px;
        background-size: 100% 12px;
        background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);

        &-2 {
            background-repeat: no-repeat;
            background-position: center bottom 8px;
            background-size: 100% 10px;
            background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
        }

        &-5 {
            background-repeat: no-repeat;
            background-position: center bottom 4px;
            background-size: 100% 6px;
            background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
        }
    }
    
    &-2 {
        font-weight: 700;
        font-size: 54px;
        line-height: 1.3;
    }
    
    &-3 {
        font-weight: 700;
        font-size: 42px;
        line-height: 130%;
    }
    
    &-4 {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.3;
    }
    
    &-5 {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
    }

    &-6 {
        font-weight: 600;
        font-size: 22px;
        line-height: 1.6;
    }
}

@media (max-width: 1439px){
    .title {
        &-1{
            font-size: 58px;
        }
        &-2 {
            font-size: 42px;
        }
        
        &--gradient-2 {
            background-repeat: no-repeat;
            background-position: center bottom 6px;
            background-size: 100% 8px;
            background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
        }

        &-3 {
            font-size: 32px;
        }
        &-4 {
            font-size: 24px;
        }
        &-5 {
            font-size: 20px;
        }

        &--gradient-5 {
            background-repeat: no-repeat;
            background-position: center bottom 3px;
            background-size: 100% 4px;
            background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
        }

        &-6 {
            font-size: 18px;
        }
    }
    
}
@media (max-width: 899px){
    .title {
        &-1{
            font-size: 42px;
        }

        &--gradient {
            background-repeat: no-repeat;
            background-position: center bottom 6px;
            background-size: 100% 8px;
            background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
        }
        
        &-2 {
            font-size: 32px;
        }
        &-3 {
            font-size: 24px;
        }
        &-4 {
            font-size: 18px;
        }
        // &-5 {
        //     font-size: 18px;
        // }
        // &-6 {
        //     font-size: 18px;
        // }
    }
}
@media (max-width: 767px){
    .title {
        &-1{
            font-size: 32px;
        }

        &--gradient {
            background-repeat: no-repeat;
            background-position: center bottom 6px;
            background-size: 100% 8px;
            background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
        }
        // &-3 {
        //     font-size: 32px;
        // }
        // &-4 {
        //     font-size: 24px;
        // }
        // &-5 {
        //     font-size: 20px;
        // }
        // &-6 {
        //     font-size: 18px;
        // }
    }
}

